{
    "root": true,
    "settings": {
      "import/resolver": {
        "typescript": {}
      }
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.eslint.json",
      "tsconfigRootDir": "./"
    },
    "env": {
      "mocha": true,
      "node": true
    },
    "plugins": [
      "@typescript-eslint",
      "import",
      "mocha",
      "chai-expect",
      "chai-expect-keywords",
      "prettier"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:import/typescript",
      "plugin:mocha/recommended",
      "plugin:chai-expect/recommended",
      "prettier"
    ],
    "rules": {
      "eqeqeq": ["error", "always"],
      "import/export": "error",
      "import/first": "error",
      "import/named": "error",
      "import/newline-after-import": "error",
      "import/no-absolute-path": "error",
      "import/no-cycle": "error",
      "import/no-deprecated": "error",
      "import/no-duplicates": "error",
      "import/no-extraneous-dependencies": "error",
      "import/no-named-as-default": "off",
      "import/no-self-import": "error",
      "import/no-unresolved": "error",
      "import/no-unused-modules": "warn",
      "import/no-useless-path-segments": "error",
      "import/order": "error",
      "prettier/prettier": "error",
      "quotes": ["error", "single", { "avoidEscape":  true, "allowTemplateLiterals":  false }],
      "chai-expect-keywords/no-unsupported-keywords": [ "error", {
        "allowKeywords": ["length"],
        "allowSinonChai": true,
        "allowChaiAsPromised": true,
        "allowChaiDOM": true,
        "allowChaiExclude": true
      } ]
    },
    "overrides": [
      {
        "files": ["*.test.ts", "*.spec.ts", "*.perf.ts"],
        "rules": {
          "@typescript-eslint/ban-ts-ignore": "off"
        }
      }
    ]
  }